<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Blog</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
        <!-- Medium Style Editor -->
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Baskervville&display=swap" rel="stylesheet">
    </head>
    <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default techfont custom-navbar">
        <div class="container">
            <li> <a class="navbar-brand bigbrand" href="{% url post_list %}">My Blog</a> </li>

        </div>

    </nav>

    <!-- CONTENT BLOCK -->

    </body>
</html>
